/* common CSS Start */ 

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }  
  html {
    font-size: 62.5%;
  } 
  body {
    margin: 0;      
    /* font-family: 'dmsans',  sans-serif; */
    width: 100%;
    overflow: auto;     
     
  }
  a:hover{
    text-decoration: none;
  }

body h1{
   font-size: 3.5rem;
  }
body h2{
    font-size: 3rem;
}
body h3{
    font-size: 2.5rem;
}
body h4{
    font-size: 2rem;
}
p,a,span{
  font-size: 1.3rem;
}
.relative{
  position: relative;
}
.p-0 {
  padding: 0;
}

/* Common CSS End */

